
<div class="col-sm-4 col-sm-offset-4" style="margin-top:100px">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>Short Bio</h2>
        </div>
        <div class="panel-body">
            {{!-- <img src="http://spaceacre.co.za/wp-content/uploads/avatar-1.png" class="img-circle img-responsive" alt="profile-pic"> --}}
            <img src="{{user.picture}}" class="img-circle img-responsive" alt="profile-pic">
            <h2>Name : <span> {{ user.displayName }} </span> </h2>
            <h2>Nickname : <span> {{ user.nickname }}</span></h2>
            <h2>Gender : <span> {{ user.gender }} </span> </h2>
        </div>
    </div>
</div>